<div>
    <!-- CREATE USER -->
    <div class="container-md bg-light mt-3 p-3">
        <form class=""> 
            <div class="mb-3">
                <label for="nameUser" class="form-label">Nome</label>
                <input
                    class="form-control form-control-md"
                    type="text"
                    [(ngModel)]="newUser.name"
                    name="name"
                    id="nameUser"
                >
            </div>

            <div class="" *ngIf="newUser.contacts.length > 0">
                <div class="" *ngFor="let contact of newUser.contacts; let i = index">
                    <label
                        for=""
                        class="form-label mt-2"
                    >
                        {{ typeContacts[contact['type']] }}
                    </label>
                    <div class="d-flex">
                        <input
                            class="form-control form-control-md"
                            type="text"
                            [(ngModel)]="newUser.contacts[i].contact"
                            [name]="newUser.contacts[i].type + i"
                        >
                        <button class="btn" (click)="deleteContactOnCreateUser(i)">
                            <img class="rounded" src="assets/lixeira.png" alt="Deletar item" width="40" height="40"/>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <label class="form-label" for="selectContact">Adicionar novo contato</label>
                <div class="d-flex">
                    <select class="form-select" name="selectContact" (change)="handleSelectedNewContact($event)">
                        <option value="email">{{ typeContacts['email'] }}</option>
                        <option value="cell">{{ typeContacts['cell'] }}</option>
                        <option value="homePhone">{{ typeContacts['homePhone'] }}</option>
                    </select>
                    <button class="btn btn-info ms-3 text-white" (click)="addContactOnCreateUser()" >+</button>
                </div>
            </div>

            <div class="mt-3 row">
                <input
                    class="btn btn-primary"
                    type="submit"
                    value="Salvar"
                    (click)="onCreateUser(newUser)"
                >
            </div>
        </form>
    </div>

    <!-- EDIT USER -->
    <ul class="container-lg bg-light my-5 p-3 list-group" *ngIf="users.length; else noRecords">
        <li class="d-flex list-group-item justify-content-between" *ngFor="let user of users">
            <div *ngIf="isEdit && editUser._id === user._id; else edit">
                <form class="d-flex flex-column">
                    <div class="d-flex flex-wrap justify-content-between row-cols-md-3">
                        <div class="d-flex flex-column m-3 bg-light p-2">
                            <label class="form-label" for="name">Nome</label>
                            <input
                                class="form-control form-control-md"
                                type="text"
                                [(ngModel)]="user.name"
                                name="name"
                                id="name"
                            >
                        </div>
                        <div class="d-flex m-3 bg-light p-2 card-group" *ngFor="let contact of editUser.contacts; let i = index">
                            <div class="card">
                                <label class="form-label card-header"  for="">{{ typeContacts[contact['type']] }}</label>
                                <input
                                    class="form-control form-control-md card-body"
                                    type="text"
                                    [(ngModel)]="editUser.contacts[i].contact"
                                    [name]="editUser.contacts[i].type + i"
                                >
                            </div>
                            <button class="d-flex btn align-items-end" (click)="deleteContactOnEdit(i)">
                                <img class="rounded" src="assets/lixeira.png" alt="Deletar item" width="40" height="40"/>
                            </button>
                        </div>
                    </div>

                    <div class="mt-4">
                        <label class="form-label" for="selectContact">Adicionar novo contato</label>
                        <div class="d-flex">
                            <select class="form-select" name="selectContact" (change)="handleSelectedNewContact($event)">
                                <option value="email">{{ typeContacts['email'] }}</option>
                                <option value="cell">{{ typeContacts['cell'] }}</option>
                                <option value="homePhone">{{ typeContacts['homePhone'] }}</option>
                            </select>
                            <button class="btn btn-info ms-3 text-white" (click)="addContactOnEdit()" >+</button>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <input
                            class="btn btn-primary"
                            type="submit"
                            value="Salvar"
                            (click)="onSaveUser(editUser)"
                        >
                    </div>
                </form>
            </div>
        
            <ng-template #edit>
                <div class="d-flex box-sizing">
                    <div class="border-rigth">
                        <p class="h6">Nome</p>
                        <p class="">{{ user.name }}</p>
                    </div>
                    
                    <div class="border-rigth" *ngFor="let contacts of user.contacts">
                        <p class="h6">{{ typeContacts[contacts['type']] }}</p>
                        <p *ngIf="contacts.type != 'email'; else option" class="">{{maskPhone(contacts.contact)}}</p>
                        <ng-template #option>
                            <p class="">{{contacts.contact}}</p>
                        </ng-template>
                    </div>
                </div>

                <div class="d-flex">
                    <button class="btn" (click)="onEditUser(user)">
                        <img class="rounded" src="assets/editar.png" alt="Deletar item" width="40" height="40"/>
                    </button>
                    <button class="btn" (click)="onRemoveUser(user)">
                        <img class="rounded" src="assets/lixeira.png" alt="Deletar item" width="40" height="40"/>
                    </button>
                </div>
            </ng-template>
            
        </li>
    </ul>

    <ng-template #noRecords>
        <div class="container bg-light mt-3">
            <span>Nenhum cadastro encontrado</span>
        </div>
    </ng-template>
</div>


