<div class="modal-header">
    <h4 class="modal-title" id="modalLabel">{{ modal.title }}</h4>
    <button
        type="button"
        class="btn btn-light close"
        (click)="activeModal.close()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-center d-flex flex-column">
    <span>{{ modal.bodyOne }}</span>
    <span>{{ modal.bodyTwo }}</span>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-outline-danger"
        (click)="activeModal.dismiss()"
    >
        {{ modal.dismiss }}
    </button>
    <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close()"
    >
        Fechar
    </button>
</div>